* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #eef4fc;
	font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration:none;
    color: #eef4fc;
}

.main-logo {
	color: #eef4fc;
	font-weight: bold;
	font-size: 20px;
}

.main-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #135171;
	height: 60px;
	padding: 10px 25px;
}

.menu-list {
	list-style: none;
	display: flex;
}
.menu-list li {
	margin: 3px 5px;
}
.menu-list a {
	padding: 8px 12px;
	border-radius: 3px;
	transition: 0.3s;
	text-transform: uppercase;
}
.menu-list a:hover {
	background-color: #1a6e9a;
}

.mobile-hamburger-button {
	cursor: pointer;
	width: 40px;
	height: 30px;
	z-index: 99;
	background-color: transparent;
	border: none;
	position: relative;
}

.mobile-hamburger-button span,
.mobile-hamburger-button span:before,
.mobile-hamburger-button span:after {
	transition: all 0.4s;
	background-color: #eef4fc;
	display: block;
	position: absolute;
	width: 30px;
	height: 2px;
	left: 0;
	border-radius: 5px;
}
.mobile-hamburger-button span:before {
	content: "";
	top: -10px;
	z-index: 10;
	width: 75%;
	transform-origin: 33% 100%;
}

.mobile-hamburger-button span:after {
	content: "";
	transform-origin: 33% 0;
	top: 10px;
	width: 75%;
}

.mobile-hamburger-button.active span {
	background-color: transparent;
}
.mobile-hamburger-button.active span:before {
	transform: translateY(6px) translateX(1px) rotate(45deg);
	width: 100%;
}

.mobile-hamburger-button.active span:after {
	transform: translateY(-6px) translateX(1px) rotate(-45deg);
	width: 100%;
}


.mobile-menu {
	display: none;
	background-color: #135171;
	width: 50%;
	margin-left: auto;
	height: calc(100vh - 60px);
}
.mobile-menu-list {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.mobile-menu a {
	color: #eef4fc;
	text-decoration: none;
	text-transform: uppercase;
	padding: 15px;
	display: block;
}
.mobile-menu a:hover {
	background-color: #1a6e9a;
}
.mobile-menu-list {
	list-style: none;
}
.mobile-menu {
	transform: translateX(100%);
	transition: all 0.5s;
}
body {
	overflow-x: hidden;
}
html {
	overflow-x: hidden;
}


/* WRITING CSS FOR RESPONSIVENESS */

@media screen and (max-width: 768px) {
	.menu-list {
		display: none;
	}

	.mobile-hamburger-button {
		display: block;
	}

	.mobile-menu {
		display: block;
	}
}
